<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>预约信息</title>
    <link rel="stylesheet" href="../css/meetingReservation.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h2>预约信息</h2>
        <form id="meetingForm" th:object="${meetingReservation}">
            <div class="form-group">
                <input type="text" id="id" th:value="*{id}" readonly hidden="hidden"/>
            </div>
            <div class="form-group">
                <label for="title">会议标题</label>
                <input type="text" id="title" th:value="*{meetingName}" readonly/>
            </div>
            <div class="form-group">
                <label for="notes">会议备注</label>
                <textarea id="notes" th:text="*{remark}" readonly></textarea>
            </div>
            <div class="form-group">
                <label>开始时间</label>
                <input type="text" th:value="${#dates.format(meetingReservation.startTime, 'yyyy-MM-dd HH:mm:ss')}" readonly/>
            </div>
            <div class="form-group">
                <label>结束时间</label>
                <input type="text" th:value="${#dates.format(meetingReservation.endTime, 'yyyy-MM-dd HH:mm:ss')}" readonly/>
            </div>
            <div class="form-group">
                <label for="name">预约人</label>
                <input type="text" id="name" th:field="*{persName}" readonly/>
            </div>
            <div class="form-group">
                <label for="phone">预约人手机号</label>
                <input type="tel" id="phone" th:field="*{mobile}" readonly/>
            </div>
            <div class="form-group">
                <button type="button" onclick="submitData()">签到</button>
            </div>
        </form>
    </div>
</div>
</body>
<script src="../js/jquery-3.6.0.min.js"></script>
<script>
    function submitData() {

        var formData = {
            meetingName: $('#title').val(),
            remark: $('#notes').val(),
            startTime: $('input[type="text"][name="startTime"]').val(),
            endTime: $('input[type="text"][name="endTime"]').val(),
            persName: $('#name').val(),
            mobile: $('#phone').val()
        };

        $.ajax({
            type: 'POST',
            url: '/meetingReservation/add',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function(response) {
                console.log('Data sent successfully:', response);
            },
            error: function(error) {
                console.error('Error sending data:', error);
            }
        });
    }
</script>
</html>
